.tg-bg-primary {
    background-color: var(--tg-theme-bg-color);
}

.tg-text-primary {
    color: var(--tg-theme-text-color);
}

.tg-hint {
    color: var(--tg-theme-hint-color);
}

.tg-link {
    color: var(--tg-theme-link-color);
}

.tg-btn {
    background-color: var(--tg-theme-button-color);
}

.tg-btn-text {
    color: var(--tg-theme-button-text-color);
}

.tg-bg-secondary {
    background-color: var(--tg-theme-secondary-bg-color);
}

.tg-border {
    background-color: var(--tg-theme-text-color);
}